<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="start">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="wcf_matchmaking.ServiceMatchmaking" behaviorConfiguration="start">
                <endpoint address="" binding="netTcpBinding" contract="wcf_matchmaking.IServiceMatchmaking">
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733" />
						<add baseAddress="net.tcp://localhost:8734" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>